<div>
    <h2 class="text-lg font-bold">Top 10 canciones más reproducidas</h2>
    <div
    class="relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
      <table class="w-full text-left table-auto">
        <thead>
          <tr>
            <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
              <p class="block font-sans text-sm antialiased font-bold leading-none text-blue-gray-900 opacity-70">
                Canción
              </p>
            </th>
            <th class="min-w-48 p-4 border-b border-blue-gray-100 bg-blue-gray-50">
              <p class="block font-sans text-sm antialiased font-bold leading-none text-blue-gray-900 opacity-70">
                Núm. reproducciones
              </p>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for songplay in songplays %}
          <tr>
            <td class="p-4 border-b border-blue-gray-50">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                <span class="font-bold italic">{{ songplay.title }}</span>, <span>{{ songplay.artist_name }}</span><br/>
                Album <span class="italic">{{ songplay.album_title }}</span>
              </p>
            </td>
            <td class="min-w-48 p-4 border-b border-blue-gray-50">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                {{ songplay.num_plays }}
              </p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>